#root {
    margin: 0 auto;
    text-align: center;
}

body {
    background: #ffffff;
    background: linear-gradient(0deg,rgba(196, 196, 196, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.headerContainer {
    background-image: url('/public/images/background1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}


.footerSection {
    background: black;
    color: white;
}

.list-inside {
    list-style-position: inside;
    padding-left: 0;
}

.listDecorationNone {
    list-style: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.buttonBgColor {
    background-color: #CF99A2 !important;
    border-color: #CF99A2 !important;
    transition: background-color 0.3s ease
}

    .buttonBgColor:hover {
        background-color: #b96a77 !important
    }

.linkStyle {
    color: black;
    text-decoration: none;
}

    .linkStyle:hover {
        color: white;
    }
